@charset "utf-8";

$primary: #0203fe;
$info: #fd584d;
$link: #3e9cbf;
$success: #aff28b;
$warning: #f2c43d;
$danger: #b83334;
$background: #000;

/* Use Bulma */
@use "bulma/sass" with (
	// Responsive breakpoints
	$tablet: 600px,

	// Fonts
	$title-family: "Georgia",
	$family-secondary: "OpenSans",
	$family-primary: "OpenSansItalic",
	$family-sans-serif: "OpenSans",
	$weight-light: 300,
	$weight-normal: 400,
	$weight-medium: 700,
	$weight-semibold: 700,
	$weight-bold: 700,
	$weight-extrabold: 700,
	$size-1: 1.8rem,
	$size-2: 1.6rem,
	$size-3: 1.4rem,
	$size-4: 1.2rem,
	$size-5: 1.1rem,
	$size-6: 1rem,
	$size-7: 0.8rem,

	// Radius
	$radius-small: 0px,
	$radius: 0,
	$radius-medium: 0px,
	$radius-large: 24px,
	$radius-rounded: 24px,

	// Modals
	$modal-card-head-radius: 0,
	$modal-card-foot-radius: 0,

	// Colors
	$primary: $primary,
	$info: $info,
	$link: $link,
	$success: $success,
	$warning: $warning,
	$danger: $danger,
	$background: black,
	$body-background-color: black,

	// Tabs
	$tabs-link-active-color: $primary,
	$tabs-link-active-border-bottom-color: $primary,

	// Notification
	$notification-code-background-color: $primary
);
/* Use the extension Bulma List */
@use "./_bulmaList.scss";

.modal-card-head {
	box-shadow: none !important;
}

// Breakpoints:
// mobile: up to 768px
// tablet: from 769px to 1024px
// desktop: from 1024px to 1215px
// widescreen: from 1216px to 1407px
// fullhd: from 1408px

.has-main-background {
	background-color: var(--channelle-main-bg-color);
}
.has-main-color {
	background-color: var(--channelle-main-text-color);
}
.has-menu-background {
	background-color: var(--channelle-menu-bg-color);
}
.has-menu-color {
	background-color: var(--channelle-menu-text-color);
}
.has-backstage-background {
	background-color: var(--channelle-backstage-bg-color);
}
.has-backstage-color {
	color: var(--channelle-backstage-text-color);
}

/* Fonts and external resources */
@font-face {
	font-family: "OpenSansItalic";
	src: url("../assets/fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}
@font-face {
	font-family: "OpenSans";
	src: url("../assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
}

/* Add custom class decelerations for changing the font family */
.is-family-default {
	font-family: "OpenSansItalic" !important;
	font-weight: 400;
}
.is-family-secondary {
	font-family: "OpenSans" !important;
	font-weight: 300;
}
.is-family-title {
	font-family: "Georgia" !important;
	text-transform: uppercase;
	font-weight: 900;
}

/* Add custom class decelerations for text decorations */
.is-strikethrough {
	text-decoration: line-through !important;
}

/* Modify default style rules */
.title {
	text-transform: uppercase;
	font-weight: 900;
}

/* Style customizations for mobile devices */
body,
html {
	touch-action: none;
	overscroll-behavior-y: none;
	height: 100%;
}
