@charset "utf-8";

/* Use Bulma */
@use 'bulma/sass' with (
	// Responsive breakpoints
	$tablet: 600px,

	// Fonts
	$title-family: 'Chentalle',
	$family-monospace: 'Modak',
	$family-secondary: 'ThisCafe',

	// Colors
	$primary: #a55bd3,
	$link: #3e9cbf,
	$info: #a7ecf2,
	$success: #21c40a,
	$warning: #f2c43d,
	$danger: #f23d06,
	$background: #fffff
);
// $family-primary: "FuturaHandwritten",
@import '../node_modules/bulma-list/sass/bulma-list.sass';

/* Fonts and external resources */
@font-face {
	font-family: 'Modak';
	src: url('./assets/fonts/modak.ttf') format('truetype');
}
@font-face {
	font-family: 'Chentalle';
	src: url('./assets/fonts/chentalle.otf') format('opentype');
}
@font-face {
	font-family: 'ThisCafe';
	src: url('./assets/fonts/this_cafe.ttf') format('truetype');
}
@font-face {
	font-family: 'Wildplants';
	src: url('./assets/fonts/wildplants.ttf') format('truetype');
}
.is-plants {
	font-family: 'Wildplants' !important;
}
@font-face {
	font-family: 'Flowery';
	src: url('./assets/fonts/flowery.ttf') format('truetype');
}
.is-flowers {
	font-family: 'Flowery' !important;
}

.is-strikethrough {
	text-decoration: line-through !important;
}

/* Custom styles */

body,
html {
	background-color: #ffffff;
}

th {
	text-align: left !important;
}

.has-hover-effect {
	transition: transform 300ms;
}

.has-hover-effect:hover {
	transform: scale(1.02);
}

.is-sticky {
	position: fixed;
	left: 0;
	right: 0;
	width: 100vw;
	bottom: 0;
}
