@charset "utf-8";

$primary: #fb01a5;
$info: #fd584d;
$link: #3e9cbf;
$success: #aff28b;
$warning: #f2c43d;
$danger: #b83334;
$background: #a93a3a;

// Breakpoints:
// mobile: up to 768px
// tablet: from 769px to 1024px
// desktop: from 1024px to 1215px
// widescreen: from 1216px to 1407px
// fullhd: from 1408px

/* Use Bulma */
@use 'bulma/sass' with (
	// Responsive breakpoints
	$tablet: 600px,

	// Fonts
	$title-family: 'Chentalle',
	$family-monospace: 'Modak',
	$family-secondary: 'ThisCafe',

	// Colors
	$primary: $primary,
	$info: $info,
	$link: $link,
	$success: $success,
	$warning: $warning,
	$danger: $danger,
	$background: $background,
	// Tabs
	$tabs-link-active-color: $primary,
	$tabs-link-active-border-bottom-color: $primary
);
// $family-primary: "FuturaHandwritten",
@use './bulma-list.scss';

/* Fonts and external resources */
@font-face {
	font-family: 'Modak';
	src: url('./assets/fonts/modak.ttf') format('truetype');
}
.is-family-modak {
	font-family: 'Modak' !important;
}
@font-face {
	font-family: 'Chentalle';
	src: url('./assets/fonts/chentalle.otf') format('opentype');
}
.is-family-title {
	font-family: 'Chentalle' !important;
}
@font-face {
	font-family: 'ThisCafe';
	src: url('./assets/fonts/this_cafe.ttf') format('truetype');
}
@font-face {
	font-family: 'Wildplants';
	src: url('./assets/fonts/wildplants.ttf') format('truetype');
}
.is-plants {
	font-family: 'Wildplants' !important;
}
@font-face {
	font-family: 'Flowery';
	src: url('./assets/fonts/flowery.ttf') format('truetype');
}
.is-flowers {
	font-family: 'Flowery' !important;
}

.is-strikethrough {
	text-decoration: line-through !important;
}

/* Custom styles */

body,
html {
	height: 100%;
	background-color: #000000;
}

th {
	text-align: left !important;
}

.has-hover-effect {
	transition: transform 300ms;
}

.has-hover-effect:hover {
	transform: scale(1.02);
}

.is-sticky {
	position: fixed;
	left: 0;
	right: 0;
	width: 100vw;
	bottom: 0;
}
