.watch-curtains {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
.watch-container {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	overflow: none;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: normal;
	.watch-grid {
		display: block;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
		align-self: auto;
		order: 0;

		display: grid;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.watch-grid.cols-1 {
		grid-template-columns: repeat(1, 1fr);
	}
	.watch-grid.cols-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.watch-grid.cols-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.watch-grid.cols-4 {
		grid-template-columns: repeat(4, 1fr);
	}
	.watch-grid.rows-1 {
		grid-template-rows: repeat(1, 1fr);
	}
	.watch-grid.rows-2 {
		grid-template-rows: repeat(2, 1fr);
	}
	.watch-grid.rows-3 {
		grid-template-rows: repeat(3, 1fr);
	}
	.watch-grid.rows-4 {
		grid-template-rows: repeat(4, 1fr);
	}

	.watch-actions {
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 60px !important;
		display: block;
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: auto;
		align-self: auto;
		order: 0;
		margin: 16px;
	}
	.watch-cell {
		color: white;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
		overflow: none;
	}
	.watch-video {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.watch-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgb(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: none;
	.button {
		display: block;
	}
}
